:root {
    /* COLORES */
    --negro: #102318;
    --blanco: #f5f8ef;
    --verde: #72a888;
    --pale-verde: #cddfab;
    --azul: #79c9e2;
    --dark-azul: #58aee7;
    --pale-azul: #d5ebe8;

    --acc-morado: #b379e0;
    --acc-amarillo: #fdedbb;
    /* FUENTES */
    --titulos: normal 400 2rem/100% 'Margarine', sans-serif;
    --parrafo: normal 400 1.25rem/100% 'Poppins', sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--verde);
    background-color: var(--blanco);
}

.este {
    border: 2px solid red;
}

.rel {
    position: relative;
}

.z-top {
    z-index: 100;
}

.z-mid {
    z-index: 50;
}

.z-back {
    z-index: 0;
}

.bg-verde {
    background-color: var(--verde);
}

.bg-pale-verde {
    background-color: var(--pale-verde);
}

.c-blanco {
    color: var(--blanco);
}

.c-verde {
    color: var(--verde);
}

.c-azul {
    color: var(--azul);
}

.c-negro {
    color: var(--negro);
}

.titulo {
    font: var(--titulos);
}

.parrafo {
    font: var(--parrafo);
}

.cta {
    border: 2px solid;
    border-radius: 100px;
    padding: .5rem 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
}

.cta.verde {
    border-color: var(--verde);
    background-color: var(--verde);
    color: var(--blanco);
}

.cta.verde:hover {
    border-color: var(--azul);
    background-color: var(--azul);
    color: var(--negro);
}

.cta.azul {
    border-color: var(--azul);
    background-color: var(--azul);
    color: var(--blanco);
}

.cta.azul:hover {
    border-color: var(--negro);
    background-color: var(--pale-verde);
    color: var(--negro);
}



/* HEADER */
.header {
    background-color: var(--pale-azul);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 6px solid var(--verde);
}

.logo {
    height: 80px;
    width: auto;
    object-fit: contain;
}

header .nav-link {
    color: var(--verde);
    font: var(--titulos);
    font-size: 2rem;
    font-weight: 500;
}

header .nav-link:hover {
    color: var(--dark-azul);

}

button.navbar-toggler {
    background-color: var(--verde);
    border: none;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}


/* FOOTER */
footer {
    background-color: var(--dark-azul);
    color: #0062a3;
    padding: 40px 0;
    font-size: 0.9rem;
}

footer a {
    /* color: #ff7b54; */
    color: #0062a3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.logo-footer {
    height: auto;
    min-width: 180px;
}

.color-svg {
    fill: #0062a3;
}

/* HOME */
main {
    min-height: 90vh;
}


/*hero*/

.hero {
    min-height: 50vh;
}

.contenido-hero {
    z-index: 25;
}

.hero-titulo {
    font: var(--titulos);
    font-size: 3rem;

}

.hero-subtitulo {
    font: var(--parrafo);
    font-size: 2rem;
}

.hero-cta {
    border: 2px solid var(--verde);
    border-radius: 100px;
    padding: .5rem 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-cta:hover {
    background-color: var(--verde);
    color: var(--pale-azul);
}


.adjust {
    min-height: 60vh;

}

.hero-cont-fondo {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: -10px;
    right: 0;

    /* border: 2px solid yellow; */
    img {
        position: absolute;
        bottom: 0;
    }
}

/*sobre la agenda*/
.sobre {
    position: relative;
}

.objetivo {
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--azul);
    transition: all .5s ease;
}

.objetivo:hover {
    background-color: var(--acc-amarillo);

    .icono-objetivo {
        background-color: var(--acc-amarillo);
    }

    img {
        scale: 120%;
    }

    .titulo-objetivo,
    .parrafo-objetivo {
        color: var(--verde);
    }
}

.icono-objetivo {
    border-radius: 100px;
    background-color: var(--blanco);
    min-width: 40px;
    min-height: 40px;
    transition: all .4s ease;

    img {
        min-width: 100px;
        height: auto;
        transition: all .5s ease;
    }

}

.titulo-objetivo {
    font: var(--titulos);
    font-size: 1.5rem;
    text-align: center;
    color: var(--blanco);
    transition: all .5s ease;
}

.parrafo-objetivo {
    color: var(--blanco);
    font-size: 1rem;
    line-height: 120%;
    transition: all .5s ease;
}

.final {
    min-height: 80px;
}

.cont-final {
    height: 70px;
    position: relative;
}

.redondo {
    background-color: var(--pale-verde);
    border: 2px solid var(--negro);
    border-top: transparent;
    height: 100px;
    width: 20%;
    border-radius: 0 0 100px 100px;
}


/*perfiles*/

.persona {
    border: 3px solid var(--azul);
    border-radius: 2rem;
    overflow: hidden;
    color: var(--azul);
    transition: all .5s ease;
}


.img-persona {
    width: 100%;
    height: auto;
    background-color: var(--azul);
    border-radius: 0 0 2rem 2rem;
    overflow: hidden;
}

.persona img {
    transform-origin: top;
    transition: all .5s ease-in-out;

}

.persona:hover img {
    scale: 120%;
}

.persona:hover {
    color: var(--dark-azul);
    background-color: var(--acc-amarillo);
    border-color: var(--acc-amarillo);

    .cta.azul {
        border-color: var(--negro);
        background-color: var(--pale-verde);
        color: var(--negro);
    }

}

.contenido-persona {
    text-align: center;

    h3 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    p {
        font-size: 1rem;
        line-height: 120%;
    }
}



/* NOSOTRAS */

.nosotras{
    border: 3px solid var(--dark-azul);
    border-radius: 2rem;
    background-color: var(--pale-azul);
    padding-right: 2rem;
    img{
        width: 40%;
        height: auto;
    }
    h2{
        font: var(--titulos);
        font-size: 2rem;
    }
}
.contenido-nosotras{
    /* border: 2px solid green; */
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}


/*************************************************************************** 
                                    mediaquery 
***************************************************************************/

/* Medium (md) - ≥768px */
@media (min-width: 768px) {
    .redondo {
        width: 10%;
    }

    .adjust {
        min-height: 70vh;

    }
}

/* Extra large (xl) - ≥1200px */
@media (min-width: 1200px) {
    /* Tus estilos aquí */
}
