    :root {
        /* COLORES */
        --negro: #102318;
        --blanco: #f5f8ef;
        --verde: #72a888;
        --pale-verde: #cddfab;
        --azul: #79c9e2;
        --dark-azul: #58aee7;
        --pale-azul: #d5ebe8;
        /* FUENTES */
        --titulos: normal 400 2rem/100% 'Margarine', sans-serif;
        --parrafo: normal 400 1.25rem/100% 'Poppins', sans-serif;
    }

    body {
        font-family: "Poppins", sans-serif;
        color: var(--verde);
        background-color: var(--blanco);
    }

    .este {
        border: 2px solid red;
    }
    .rel{
        position: relative;
    }
    .z-top{z-index: 100;}
    .z-mid{z-index: 50;}
    .z-back{z-index: 0;}
    
    .bg-verde{background-color: var(--verde);}
    .bg-pale-verde{background-color: var(--pale-verde);}

    .c-blanco{color: var(--blanco);}
    .c-verde{color: var(--verde);}
    .c-azul{color: var(--azul);}
    .c-negro{color: var(--negro);}

    .titulo{ font: var(--titulos);}
    .parrafo{ font: var(--parrafo);}


    /* HEADER */
    .header {
        background-color: var(--pale-azul);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 6px solid var(--verde);
    }

    .logo {
        height: 80px;
        width: auto;
        object-fit: contain;
    }

    header .nav-link {
        color: var(--verde);
        font: var(--titulos);
        font-size: 2rem;
        font-weight: 500;
    }
    header .nav-link:hover {
        color: var(--dark-azul);

    }

    button.navbar-toggler{
        background-color: var(--verde);
        border: none;
        box-shadow: none !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none !important;
        box-shadow: none !important;
    }


    /* FOOTER */
 footer {
        background-color: var(--dark-azul);
        color: var(--blanco);
        padding: 40px 0;
        font-size: 0.9rem;
    }

    footer a {
        /* color: #ff7b54; */
        color: inherit;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    /* HOME */
    main{
        min-height: 90vh;
    }


    /*hero*/
    
    .hero{
        min-height: 50vh;
    }
    
    .contenido-hero{
        z-index: 25;
    }

    .hero-titulo{
        font: var(--titulos);
        font-size: 3rem;

    }
    .hero-subtitulo{
        font: var(--parrafo);
        font-size: 2rem;
    }

    .hero-cta{
        border: 2px solid var(--verde);
        border-radius: 100px;
        padding: .5rem 1rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: all .5s ease ;
    }

    .hero-cta:hover{
        background-color: var(--verde);
        color: var(--pale-azul);
    }


    .adjust{
        min-height: 60vh;

    }
    .hero-cont-fondo{
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: -10px;
        right: 0;
        /* border: 2px solid yellow; */
        img{
            position: absolute;
            bottom: 0;
        }
    }

/*sobre la agenda*/
.sobre{
    min-height: 1000px;
}